*{
	box-sizing: border-box;
}

.my-calender{
    width: 70%;
    float: left;
	margin-top: 5px;
}

table{
    border-right: 1px solid black;
	border-top: 1px solid black;
}

th{
    font-size: 24px;
    padding: 0;
    width: 150px;
	background-color: #5C6BC0;
	color: white;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
}

td{
    width: 150px;
	height: 100px;
	position: relative;
	padding: 0;
	border-bottom:1px solid black;
	border-left: 1px solid black;
}

.days:hover{
	background-color: #C5CAE9;
}

.day-num{
	background-color: #9FA8DA;
	margin: 0;
	color: white;
	text-align: center;
	width: 30px;
	font-size: 18px;
	font-weight: bold;
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid #C5CAE9;
}

.no-dates{
	background-color: #EDE7F6;
}

td.active {
    background-color: #ccc;
}

/* TASK MENU */
.taskcontent{
	border: 1px solid black;
	width: 28.4%;
	height: 400px;
	float: left;
	margin-top: 5px;
	margin-left: 20px;
    display: none;
	padding: 20px;
}

.taskhead{
    border-bottom: 1px solid black;
    width: 100%;
    display: inline-block;
}

#addbtn{
    float: right;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
	width: 100%;
    display: block;
	padding-top: 5px;
}

.schedule-items{
	background-color: #E3F2FD;
	border: 0;
	width: 100%;
	padding: 5px 10px;
	margin: 1px;
}

.schedule-items:hover{
	background-color: #BBDEFB;
	cursor: pointer;
}

 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

.wrap-task{
	width: 95%;
	margin: 0 auto;
}

.task-menu{
	float: left;
	width: 95%;
	margin: 20px;
	border: 1px solid red;
	height: 200px;
}