.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-size: 16px;
    margin-top:-10px;
    padding: 8px 14px;
    font-family: 'Roboto Condensed';
    color:darkcyan;
    background-color: #eee;
    /letter-spacing: .5px;
    border:1px solid #ccc;
    border-radius: 50px;
    display: inline-block;
    transition: 0.1s;
}

.inputfile:focus + label,
.inputfile + label:hover {
    border: 1px solid darkcyan;
    background-color:whitesmoke;
    transition: 0.1s;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.inputfile + label * {
	pointer-events: none;
}